<!DOCTYPE html>
<html>
<head>
  <title><%= t('layout.title') %></title>
  <meta charset='utf-8'>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag 'voluntary/ember_js/external/preload_store' %>
  <%= stylesheet_link_tag *voluntary_ember_js_stylesheets, media: 'all' %>
  <!--<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet"/>-->
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div id="outlet">
    </div>
    <%= yield %>
    <div id="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">
        <!--
        <span>
          <%= raw t(
            'general.footer.credits.twitter_bootstrap', 
            mdo: link_to('@mdo', 'http://Twitter.com/mdo'), fat: link_to('@fat', 'http://Twitter.com/fat'), 
          ) %> 
        </span>
        <br/>
        <span>
          <%= t('general.footer.credits.sticky_footer') %> <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.
        </span>
        <br/>
        -->
        <%= footer_navigation %>
        <br/>
        <span>
          <%= raw t('general.footer.credits.voluntary', link: link_to('Voluntary.Software', 'http://Voluntary.Software')) %>.
        </span>
        <br/>
        <span>
          <%= raw t('general.footer.license', link: link_to('MIT', 'https://github.com/volontariat/voluntary/blob/master/MIT-LICENSE')) %>.
        </span>
        <br/>
      </p>
    </div>
  </div>
  <%- if @preloaded.present? %>
    <script>
    <%- @preloaded.each do |key, json| %>
      PreloadStore.store('<%= key %>',<%= raw json %>);
    <% end %>
    </script>
  <%- end %>
  
  <!--
    # TODO: don't override voluntary_ember_js' emberjs.html.erb and override ApplicationHelper instead
    #= javascript_include_tag *voluntary_ember_js_javascripts %>
  -->
  <%= javascript_include_tag *voluntary_ember_js_javascripts %>
  <%= javascript_tag do %>
    <%= yield :top_javascript %>
    
    $(function() {
      <%= yield(:document_ready) %>
    });
  <% end %>
</body>
</html>